*{
    margin:0;
    font-family: Arial;
    border: border-box;
}

.navbarece{
   
    background-color: rgb(18, 6, 86);
    color: white;
    display: flex;
    align-items: center;
    
    height: 75px;
    width: 100%;
    position: fixed;
}
.borders:hover {
border: 2px solid white;
}
.margins:hover {
   transform: scale(1.35,1.35);
   transition: 0.3s transform;
}
.ece-name {
    font-weight: 700 ;
    font-size:x-large;
    width: 40%
}
ul{
    list-style-type: none;
}
li {
    font-weight: 650;
    font-size: larger;
    display: inline;
    text-decoration: none;
    color: white;
  margin-right: 24px;
}
a {
    text-decoration: none;
  color: beige;

}
.ece-logo{
    background-image: url(ece-imgs/ECE_LOGO-removebg-preview\ \(1\).png);
    background-size: cover;
    height: 80px;
    width: 80px;
}
.bg-section1{
    background-image: url(ece-imgs/ece\ dept.jpg);
    background-size: cover;
    height: 550px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.container{
    height: 320px;
    background-color: blue;
    background-image: url(ece-imgs/bg-2.jpg);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-attachment: fixed;
    
}
.bg-section-a{
    background-image: url(ece-imgs/bg-3.jpg);
    background-size: cover;
    height: 400px;
   
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.bg-msg{
    background-color: white;
    color:rgb(5, 5, 100);
    height: 40px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 290px;
}
.ppl-info{
   height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    
   }
.ppl-info i{
    color: rgb(4, 4, 51);
    font-size: 70px;
    margin-bottom: 10px;
 }

.ppl-info p{
    
    font-size: x-large;
    
    font-weight: 550;
    color: rgb(1, 1, 71)
    
}
.info-all{
    display:inline;
    text-align: center;
    margin-right: 100px;
    margin-left: 20px;
    
}
.ece-writing{
    margin-left: 45px;
   padding-top: 25px;
    font-size: larger;
}
    
.ece-activities h2{
    padding: 15px;
    margin-left: 45px;
    text-decoration: underline;
    color: rgb(1, 1, 71);
}
.ece-activities p{
    padding-top: 0.25px;
    margin-left: 42px;
    padding-bottom: 10px;
    font-size: larger;
}
.ece-activities h2{
    text-align: center;
    text-decoration: rgb(6, 6, 66) underline;
    color: rgb(6,6,66);
}
.gallery-section{
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.box {
height: 300px;
margin-top: 15px;
width: 23%;
background-color: white;
padding: 20px 0 px 15px;
margin-top:15px;
background-color: rgb(6, 83, 138);
border-radius:  2px;
}
.box-img{
    height: 267px;
    margin-top: 10 px;
    margin-bottom: 2px;
    background-size: cover;
    border-radius: 5px;
}
.box-content{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.img-bg2{
background-image: url(ece-imgs/bg-3.jpg);
height: 250px;
position: static;
background-size: cover;
background-attachment: fixed;
}
.vm-sec{
    height: 400px;
    background-color: rgb(188, 187, 187);
    display: flex;
    justify-content: center;
    align-items: center;
}
.vision{
    height: 250px;
    width: 500px;
    background-color: beige;
    margin-right: 100px;
}
.vision H2 {
    text-align: center;
    margin-top: 35px;
}
.vision p {
    margin-left: 25px;
    margin-top: 34px;
    font-size: larger;
    margin-right: 25px;
}
.mission{
    height: 250px;
    width: 500px;
    background-color:beige;
}
.mission H2 {
    text-align: center;
    margin-top: 32px;
}
.mission p{
    margin-left: 25px;
    margin-top: 34px;
    font-size: larger;
    margin-right: 25px;
}
.img-bg3{
    background-image: url(ece-imgs/bg-4.jpg);
    background-size: cover;
    height: 280px;
    position: static;
    background-attachment: fixed;
}
.s-handles{
    background-color: rgb(136, 136, 136);
    height: 55px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size:xx-large;

}
.s-handles i{
    margin: 15px;
}
.bg-msg-EV1{
    background-color: white;
    color:rgb(5, 5, 100);
    height: 40px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 145px;
    font-size: x-large;
}
.EV-poster{
    height: 1250px;
    display:flex;
    flex-wrap: wrap;
}
.poster {
    height: 380px;
    margin-top: 10px;
    width: 33%;
    background-color: white;
    padding: 20px 0 px 15px;
   
    background-color: rgb(255, 255, 255);
    border-radius:  2px;
    }
    .poster-img{
        height: 470px;
        margin-top: 5px;
        margin-bottom: 2px;
        background-size: cover;
    }
    .poster-content{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
        margin-bottom: 15px;
       
    }
    .poster-content p{
        margin-top: 12px;
        margin: 2px solid blue;
    }
    .EV-poster p{
        display: flex;
    }
    .ev-msg H2 {
        justify-content: center;
        align-items: center;
        color: rgb(8, 8, 61);
        height: 70px;
        display: flex;
    }
    .pbox {
    height: 340px;
 padding-top: 3px;
    width:20%;
    background-color: rgb(18, 6, 96);
    margin-left: 610px;
    margin-bottom: 30px;
    }
        
    .p-img{
            height: 267px;
            background-size: cover;
            margin: 2px;
           
        }
       
     .p-icon{
        align-items: center;
    justify-content: center;
    display: flex;
    font-size:large;
    color: beige;
     }   
     .p-icon i{
            margin-left: 8px;
            margin-top: 5px;
     }
     .post-section{
        background-color: rgb(197, 197, 197);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      
    }
    .post {
        height: 350px;
        margin: 5px;
        width: 21%;
        background-color: rgb(18, 6, 96);
        
        margin-bottom: 50px;
    
    }
    .post-img{
        height: 270px;
        background-size: cover;
        margin: 2px;
    }
    .president{
        height: 400px;
        background-color: rgb(197, 197, 197);
    }
    .EB-msg{
        height: 50px;
        background-color: rgb(7, 7, 75);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: x-large;
        
    }
    .EB1-msg{
        height: 200px;
        background-color: rgb(2, 2, 18);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: x-large;
        
    }

    .mod{
        color:rgb(167, 175, 234);
        margin-left:10px;
    }
    
    .contact{
    height: 650px;
    background-image: url(ece-imgs/bg-5.jpg);
    background-size: cover;
    background-color: rgb(8, 9, 35)
    }

    
    .headd {
        margin-left: 100px;
        color: beige;
    }
    .name{
        color: white;
        margin-left: 100px;
        margin-top: 40px;
       font-weight: 550;
    }
    .add{
        height: 250px;
        background-color: rgb(6, 27, 55);
}
    .get{
        padding-top: 30px;
        margin-left: 100px;
        color: white;
        font-size: x-large;
    }
    .info1{
        color: white;
        margin-left: 100px;
        margin-top: 30px;
       margin-right: 100px;
    }
    .info2{
        color: white;
        margin-left: 100px;
        margin-top: 30px;
        margin-right: 100px;
       }
.arrange{
    display: flex;
    
}
.info3{
    color: white;
    margin-left: 100px;
    margin-top: 30px;
    margin-right: 100px;
   }
   .main{
    margin-bottom: 10px;
   }
   form{
    width: 90%;
    max-width: 700px;
   }
   .input-grp{
    margin-bottom: 30px;
   }
   input, textarea{
    width: 100%;
    padding: 8px;
    outline: 0;
    border: 2px solid white;
    background: transparent;
    color: white;
   }
   button{
    background:transparent;
    color: white;
    outline: none;
    cursor: pointer;
    border: 2px solid white;
    width: 100%;
    padding: 10px, 0;
    height: 30px;
   }
   i{
    margin-right: 7px;
   }
.compliment{
    height: 40px;
    background-color: rgb(6, 27, 55);
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}
  .project-intro{
    margin-top: 20px;
   margin-left: 70px;
   margin-right: 70px;
   font-size: larger;
   
  }

  .project-section{
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.project {
height: 440px;
margin-top: 15px;
width: 35%;
background-color: white;
padding: 15px 0 px 10px;
margin-top: 27px;
background-color: rgb(3, 32, 53);
border-radius:  2px;
}
.project-img{
    height: 345px;
    margin-top: 10px;
   background-size: cover;
    border-radius: 5px;
}
.project-content{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.project-content p{
    font-size: large;
    margin-top: 4px;
}
.project-content h2{
    font-size: x-large;
    margin-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}
